      <div class="page-body">
        <div class="container-fluid">
          <div class="page-title">
            <div class="row">
              <div class="col-6">
                <h3>
                   Order List</h3>
              </div>
              <div class="col-6">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="<?=site_url()?>">                                       <i data-feather="home"></i></a></li>
                  <li class="breadcrumb-item">Project Module</li>
                  <li class="breadcrumb-item active">Order List</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 project-list">
                <div class="card">
                  <div class="row">
                    <div class="col-sm-12">
                      <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
                        <!-- <li class="nav-item"><a class="nav-link active" id="top-home-tab" data-toggle="tab" href="#top-home" role="tab" aria-controls="top-home" aria-selected="true"><i data-feather="target"></i>All</a></li> -->
                        <li class="nav-item" style="min-width:170px;"><a class="nav-link active" id="progress-top-tab" style="cursor: pointer;"><i data-feather="info"></i>On Progress</a></li>
                        <li class="nav-item"><a class="nav-link" id="revision-top-tab" style="cursor: pointer;"><i data-feather="repeat"></i>Revision</a></li>
                        <li class="nav-item"><a class="nav-link" id="done-top-tab" style="cursor: pointer;"><i data-feather="check-square"></i>Done</a></li>
                        <li class="nav-item"><a class="nav-link" id="delivered-top-tab" style="cursor: pointer;"><i data-feather="send"></i>Delivered</a></li>
                        <li class="nav-item"><a class="nav-link" id="completed-top-tab" style="cursor: pointer;"><i data-feather="check-circle"></i>Complete</a></li>
                        <li class="nav-item">
                          <input type="text" class="form-control" placeholder="Search" name="keyword" id="keyword-form">
                        </li>
                        <li class="nav-item text-right" style="min-width:200px;">
                          <div class="form-group mb-0 mr-0"></div><a class="btn btn-primary" href="<?=site_url()?>Order/createOrder"> <i data-feather="plus-square"> </i>New Order</a>
                        </li>
                      </ul>
                    </div>
                    <!-- <div class="col-sm-3">
                      <div class="text-right">
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <div class="tab-content" id="top-tabContent">
                      <!-- <div class="row">
                        <div class="col-md-12">
                          <div class="float-right ml-3  text-center">
                            <div class="progress-bar-animated bg-infographic progress-bar-striped  float-left mr-3" role="progressbar" style="width: 50px; height:7px; margin-top:14px;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>    
                            <h6 class="mt-2 float-left">Infographic</h6>
                          </div>
                          <div class="float-right ml-3 mr-3 text-center">
                            <div class="progress-bar-animated bg-illustration progress-bar-striped  float-left mr-3" role="progressbar" style="width: 50px; height:7px; margin-top:14px;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>    
                            <h6 class="mt-2 float-left">Illustration</h6>
                          </div>  
                        </div>
                      </div> -->
                      <div class="tab-pane fade show active" id="top-progress" role="tabpanel" aria-labelledby="progress-top-tab">

                      </div>
                      <div class="text-center">
                        <p class="text-center text-info mt-3" id="load_data_message"></p>
                        <button class="btn btn-outline-primary" id="btnLoadMore">Load More</button>
  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              </div>
              <!-- Container-fluid Ends-->
            </div>
            <div class="modal fade" id="assignModal"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow:hidden;">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <form class="" action="<?=base_url()?>Order/assignAction" method="post">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Assign Order</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="theme-form">
                        <div class="row">
                          <div class="col-md-12">
                            <input class="form-control" name="order_id" id="order_id" type="hidden" required>
                            <div class="form-group">
                              <label>Assign to</label>
                              <select class="form-control" name="employee_id" id="employee_id" required>
                                <?php
                                foreach($employees as $employee){
                                ?>
                                <option value="<?=$employee->employee_id?>"><?=$employee->employee_name?></option>
                                <?php } ?>
                              </select>
                            </div>  
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Start Date</label>
                              <div class="input-group flatpicker-calender">
                                <input class="form-control" id="datetime-local" name="task_start" type="date"  required>
                              </div>
                                <!-- <input class="form-control" type="text"name="order_date" required autocomplete="off"> -->
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Tag Priority</label>
                              <select class="form-control" name="tag_id" id="tag_id" required>
                                <?php
                                foreach($tags as $tag){
                                ?>
                                <option value="<?=$tag->tag_id?>" ><?=$tag->tag_name?></option>
                                <?php } ?>
                              </select>
                            </div>  
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Estimation </label>
                              <div class="row">
                                <div class="col-md-6">
                                  <input class="form-control" name="task_estimation_hour" type="number" placeholder="Hours" required>
                                </div>
                                <div class="col-md-6">
                                  <input class="form-control" name="task_estimation_minute" type="number" placeholder="Minutes" required>
                                </div>
                              </div>
                            </div>  
                          </div>
                          
                        </div>
                          
                        
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>
                </div>
              </div>
    
            </div>
    
            <script>
              $(document).ready(function(){
 
                var limit = 30;
                var start = 0;
                var action = 'inactive';
                var service_id = $( "#service_id").val();
                var order_status = 'On Progress';
                var keyword = $( "#keyword-form").val();
                var client_id = $( "#client_id").val();


                function load_data(limit, start, keyword, order_status, service_id, client_id)
                {
                  $.ajax({
                    url:"<?php echo base_url(); ?>Order/fetchOrders",
                    method:"POST",
                    data:{limit:limit, start:start, keyword:keyword, order_status:order_status, service_id:service_id, client_id:client_id},
                    cache: false,
                    success:function(data)
                    {
                      if(data == '')
                      {
                        $('#load_data_message').html('<h7><i>No More Result Found</i></h7>');
                        action = 'active';
                      }
                      else
                      {
                        $('#top-progress').append(data);
                        $('#load_data_message').html("");
                        action = 'inactive';
                      }
                    }
                  })
                }

                if(action == 'inactive')
                {
                  action = 'active';
                  load_data(limit, start, keyword, order_status, service_id, client_id);
                }

                $('#btnLoadMore').click(function() {
                  start = start + limit;
                  var keyword = $( "#keyword-form").val();
                  if($("#progress-top-tab").hasClass( "active" )){
                      var order_status = 'On Progress';
                    } 
                    else if($("#revision-top-tab").hasClass( "active" )){
                      var order_status = 'In Revision';
                    } 
                    else if($("#done-top-tab").hasClass( "active" )){
                      var order_status = 'In Revision';
                    } 
                    else if($("#delivered-top-tab").hasClass( "active" )){
                      var order_status = 'In Revision';
                    } 
                    else if($("#completed-top-tab").hasClass( "active" )){
                      var order_status = 'In Revision';
                    } 

                  $('#load_data_message').html('<h7><i>Please Wait...</i></h7>');
                  setTimeout(function(){
                    load_data(limit, start, keyword, order_status, service_id, client_id);
                  }, 500);

                });

                $( "#progress-top-tab").click(function() {
                  $('#progress-top-tab').addClass('active');
                  $('#revision-top-tab').removeClass('active');
                  $('#done-top-tab').removeClass('active');
                  $('#delivered-top-tab').removeClass('active');
                  $('#completed-top-tab').removeClass('active');
                  var order_status = "On Progress";
                  var keyword = $( "#keyword-form").val();

                  start = 0;
                  $('#load_data_message').html('<h7><i>Please Wait...</i></h7>');

                  setTimeout(
                  function() 
                  {
                    $.ajax({
                    url:"<?php echo base_url(); ?>Order/fetchOrders",
                    method:"POST",
                    data:{limit:limit, start:start, keyword:keyword, order_status:order_status, service_id:service_id, client_id:client_id},
                    cache: false,
                    success:function(data)
                    {
                      if(data == '')
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html('<h7><i>No Result Found</i></h7>');
                        action = 'active';
                      }
                      else
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html("");
                        action = 'inactive';
                      }
                    }
                  });
                  }, 500);
                });

                $( "#revision-top-tab").click(function() {
                  $('#progress-top-tab').removeClass('active');
                  $('#revision-top-tab').addClass('active');
                  $('#done-top-tab').removeClass('active');
                  $('#delivered-top-tab').removeClass('active');
                  $('#completed-top-tab').removeClass('active');
                  var order_status = "In Revision";
                  var keyword = $( "#keyword-form").val();

                  start = 0;
                  $('#load_data_message').html('<h7><i>Please Wait...</i></h7>');

                  setTimeout(
                  function() 
                  {
                    $.ajax({
                    url:"<?php echo base_url(); ?>Order/fetchOrders",
                    method:"POST",
                    data:{limit:limit, start:start, keyword:keyword, order_status:order_status, service_id:service_id, client_id:client_id},
                    cache: false,
                    success:function(data)
                    {
                      if(data == '')
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html('<h7><i>No Result Found</i></h7>');
                        action = 'active';
                      }
                      else
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html("");
                        action = 'inactive';
                      }
                    }
                  });
                  }, 500);
                });
                $( "#delivered-top-tab").click(function() {
                  $('#progress-top-tab').removeClass('active');
                  $('#revision-top-tab').removeClass('active');
                  $('#done-top-tab').removeClass('active');
                  $('#delivered-top-tab').addClass('active');
                  $('#completed-top-tab').removeClass('active');
                  var order_status = "Delivered";
                  var keyword = $( "#keyword-form").val();

                  start = 0;
                  $('#load_data_message').html('<h7><i>Please Wait...</i></h7>');

                  setTimeout(
                  function() 
                  {
                    $.ajax({
                    url:"<?php echo base_url(); ?>Order/fetchOrders",
                    method:"POST",
                    data:{limit:limit, start:start, keyword:keyword, order_status:order_status, service_id:service_id, client_id:client_id},
                    cache: false,
                    success:function(data)
                    {
                      if(data == '')
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html('<h7><i>No Result Found</i></h7>');
                        action = 'active';
                      }
                      else
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html("");
                        action = 'inactive';
                      }
                    }
                  });
                  }, 500);
                });
                $( "#completed-top-tab").click(function() {
                  $('#progress-top-tab').removeClass('active');
                  $('#revision-top-tab').removeClass('active');
                  $('#done-top-tab').removeClass('active');
                  $('#delivered-top-tab').removeClass('active');
                  $('#completed-top-tab').addClass('active');
                  var order_status = "Completed";
                  var keyword = $( "#keyword-form").val();
                  start = 0;
                  $('#load_data_message').html('<h7><i>Please Wait...</i></h7>');

                  setTimeout(
                  function() 
                  {
                    $.ajax({
                    url:"<?php echo base_url(); ?>Order/fetchOrders",
                    method:"POST",
                    data:{limit:limit, start:start, keyword:keyword, order_status:order_status, service_id:service_id, client_id:client_id},
                    cache: false,
                    success:function(data)
                    {
                      if(data == '')
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html('<h7><i>No Result Found</i></h7>');
                        action = 'active';
                      }
                      else
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html("");
                        action = 'inactive';
                      }
                    }
                  });
                  }, 500);
                });
                $( "#done-top-tab").click(function() {
                  $('#progress-top-tab').removeClass('active');
                  $('#revision-top-tab').removeClass('active');
                  $('#done-top-tab').addClass('active');
                  $('#delivered-top-tab').removeClass('active');
                  $('#completed-top-tab').removeClass('active');
                  var order_status = "Done";
                  var keyword = $( "#keyword-form").val();

                  start = 0;
                  $('#load_data_message').html('<h7><i>Please Wait...</i></h7>');

                  setTimeout(
                  function() 
                  {
                    $.ajax({
                    url:"<?php echo base_url(); ?>Order/fetchOrders",
                    method:"POST",
                    data:{limit:limit, start:start, keyword:keyword, order_status:order_status, service_id:service_id, client_id:client_id},
                    cache: false,
                    success:function(data)
                    {
                      if(data == '')
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html('<h7><i>No Result Found</i></h7>');
                        action = 'active';
                      }
                      else
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html("");
                        action = 'inactive';
                      }
                    }
                  });
                  }, 500);
                });




                $( "#keyword-form").keyup(function() {
                  var keyword = $(this).val();
                  var service_id = $( "#service_id").val();
                  var client_id = $( "#client_id").val();

                    if($("#progress-top-tab").hasClass( "active" )){
                      var order_status = 'On Progress';
                    } 
                    else if($("#revision-top-tab").hasClass( "active" )){
                      var order_status = 'In Revision';
                    } 
                    else if($("#done-top-tab").hasClass( "active" )){
                      var order_status = 'In Revision';
                    } 
                    else if($("#delivered-top-tab").hasClass( "active" )){
                      var order_status = 'In Revision';
                    } 
                    else if($("#completed-top-tab").hasClass( "active" )){
                      var order_status = 'In Revision';
                    } 

                    start = 0;
                  console.log(start);
                  console.log('limit'+limit);
                  $('#load_data_message').html('<h7><i>Please Wait...</i></h7>');

                  setTimeout(
                  function() 
                  {
                    $.ajax({
                    url:"<?php echo base_url(); ?>Order/fetchOrders",
                    method:"POST",
                    data:{limit:limit, start:start, keyword:keyword, order_status:order_status, service_id:service_id, client_id:client_id},
                    cache: false,
                    success:function(data)
                    {
                      if(data == '')
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html('<h7><i>No Result Found</i></h7>');
                        action = 'active';
                      }
                      else
                      {
                        $('#top-progress').html(data);
                        $('#load_data_message').html("");
                        action = 'inactive';
                      }
                    }
                  });
                  }, 500);
                });


              });
              // function assignOrder(order_id) {
              //   $('#assignModal').modal('show'); 
              //   $('#order_id').val(order_id);
              // }
            </script>