.page-wrapper .sidebar-main-title > div{
    background:#fbfbfb !important;
}
.page-wrapper .sidebar-main-title > div > h6{
    color:#58585a !important;
}
.page-wrapper .sidebar-main-title h6{
    margin-bottom:0px !important;
}
div.dataTables_wrapper div.dataTables_paginate{
    margin-bottom:20px !important;
}
.btn-action{
    padding: 0.375rem 0.75rem;
}
.btn-warning:active{
    color:#ffffff !important;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active{
    background: #3d4349 !important;
    border:1px solid  #3d4349 !important;
}
.logo-wrapper{
    text-align: center !important;
    padding: 16px 0 17px 0 !important;
}
.project-box{
    padding: 15px 30px !important;
    border: 2px solid #efefef;
    /* padding: 20px 30px 10px 30px !important; */
}
.project-box .media .media-body {
    opacity: 1 !important;
}
.bg-infographic{
    background:#ffd29e;
}
.bg-illustration{
    background:#d8abff;
}
.page-wrapper .page-header .header-wrapper{
    padding: 20px 30px;
}
.select2 {
    max-width: 100%;
    border: 1px solid #ced4da !important;
    border-radius: 5px !important;
}
.btn-not-assign{
    background-color: #919eac !important;
    width: 95px;
    border: 1px solid #919eac !important;
}
.btn-normal{
    background-color: #dde4ec !important;
    width: 95px;
    border: 1px solid #dde4ec !important;
    color: #2b2b2b !important;
}
.btn-not-assign:hover{
    background-color: #788898 !important;
    border: 1px solid #788898 !important;
}
.text-black{
    color:#2b2b2b;
}
.select2-close-mask{
    z-index: 2099;
}
.select2-dropdown{
    z-index: 3051;
}
.login-card{
    background: #fff !important;
}
.email-wrap .email-right-aside .radius-left{
    height: auto !important;
    
}
.table-task td{
    padding: 10px 10px 10px 10px !important;
    vertical-align: middle;
}
.table-task td:first-child,.table-task th:first-child{
    padding-left: 30px !important;
}
.brief_revision_div > .note-status-output{
    display: none !important;

}
.note-insert,.note-view,.note-fontname{
    display: none !important;
}
.note-btn-group .note-btn{
    background-color: #ededed !important;
}
.project-detail-div {
    width: 100%;
    z-index: 99;
    position: static;
}

.project-detail-div.sticky {
    position: fixed;
    top: 100px;
}
.project-attachement-div {
    width: 100%;
    z-index: 99;
    position: static;
}

.project-attachement-div.sticky {
    position: fixed;
    top: 425px;
}
.text-gray{
    color: #959393;
}
.sidebar-links > li .sidebar-link.active{
 margin-bottom: 0px !important;
}
.rating {
    display: inline-block;
    position: relative;
    height: 35px;
    line-height: 50px;
    font-size: 35px;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
    margin-left: 1px;
    margin-right: 1px;
  }
  
  .rating label:last-child .icon {
    border-radius: 5px;
    color: #a4a4a4;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: #fcc062 ;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #a4a4a4;
    text-shadow: 0 0 5px #fcc062 ;
  }
  .img-thumbnail{
    padding: 0.25rem;
    background-color: #fff;
    border: 0px !important;
    border-radius: 5px !important;
    max-width: 100%;
    height: auto;
  }
  .modal-open .select2-dropdown {
    z-index: 10060;
    }
    
    .modal-open .select2-close-mask {
    z-index: 10055;
    }
    .modal-open .select2{
        width:100% !important;
    }
    .profile-box {
        background: linear-gradient(103.75deg, #72bd40 -13.9%, var(--theme-deafult) 79.68%);
        color: #fff;
    }
    .profile-box .cartoon {
        position: absolute;
        bottom: -15px;
        right: 20px;
        animation: bounce-effect 5s infinite ease-in;
    }