.page-wrapper .sidebar-main-title > div{
    background:#fbfbfb !important;
}
.page-wrapper .sidebar-main-title > div > h6{
    color:#58585a !important;
}
.page-wrapper .sidebar-main-title h6{
    margin-bottom:0px !important;
}
div.dataTables_wrapper div.dataTables_paginate{
    margin-bottom:20px !important;
}
.btn-action{
    padding: 0.375rem 0.75rem;
}
.btn-warning:active{
    color:#ffffff !important;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active{
    background: #3d4349 !important;
    border:1px solid  #3d4349 !important;
}
.logo-wrapper{
    text-align: center !important;
    padding: 16px 0 17px 0 !important;
}
.project-box{
    padding: 15px 30px !important;
    border: 2px solid #efefef;
    /* padding: 20px 30px 10px 30px !important; */
}
.project-box .media .media-body {
    opacity: 1 !important;
}
.bg-infographic{
    background:#ffd29e;
}
.bg-illustration{
    background:#d8abff;
}
.page-wrapper .page-header .header-wrapper{
    padding: 20px 30px;
}
.select2 {
    max-width: 100%;
    border: 1px solid #ced4da !important;
    border-radius: 5px !important;
}
.btn-not-assign{
    background-color: #919eac !important;
    width: 95px;
    border: 1px solid #919eac !important;
}
.btn-normal{
    background-color: #dde4ec !important;
    width: 95px;
    border: 1px solid #dde4ec !important;
    color: #2b2b2b !important;
}
.btn-not-assign:hover{
    background-color: #788898 !important;
    border: 1px solid #788898 !important;
}
.text-black{
    color:#2b2b2b;
}
.select2-close-mask{
    z-index: 2099;
}
.select2-dropdown{
    z-index: 3051;
}
.login-card{
    background: #fff !important;
}
.email-wrap .email-right-aside .radius-left{
    height: auto !important;
    
}
.table-task td{
    padding: 10px 10px 10px 10px !important;
    vertical-align: middle;
}
.table-task td:first-child,.table-task th:first-child{
    padding-left: 30px !important;
}
.brief_revision_div > .note-status-output{
    display: none !important;

}
.note-insert,.note-view,.note-fontname{
    display: none !important;
}
.note-btn-group .note-btn{
    background-color: #ededed !important;
}
.project-detail-div {
    width: 100%;
    z-index: 99;
    position: static;
}

.project-detail-div.sticky {
    position: fixed;
    top: 100px;
}
.project-attachement-div {
    width: 100%;
    z-index: 99;
    position: static;
}

.project-attachement-div.sticky {
    position: fixed;
    top: 425px;
}
.text-gray{
    color: #959393;
}